<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id of Cart</th>
        <th>Id of User</th>
        <th>Name of User</th>
        <th>Login of User</th>
        <th>Products</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${carts.empty}">
        <td colspan="2"> No Carts Available</td>
    </tr>
    <tr th:each="cart : ${carts}">
        <td><span th:text="${cart.id}"> Id of Cart </span></td>
        <td><span th:text="${cart.shopUser.id}"> Id of User </span></td>
        <td><span th:text="${cart.shopUser.name}"> Name of User </span></td>
        <td><span th:text="${cart.shopUser.login}"> Login of User </span></td>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${cart.products.empty}">
                    <td colspan="2"> No Products Available</td>
                </tr>
                <tr th:each="product : ${cart.products}">
                    <td><span th:text="${product.id}"> Id </span></td>
                    <td><span th:text="${product.name}"> Name </span></td>
                    <td><span th:text="${product.price}"> Price </span></td>
                    <td><img th:src="${product.url}" style="width: 100px"></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="http://localhost:8080/logout"><i class="" aria-hidden="true"></i>Выход</a>
    <div>
</body>
</html>

