<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор товара</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>
    <h4>Логин:</h4><span th:text="${login}"> Login </span>
</div>
<div>
    <h4>Имя:</h4><span th:text="${name}"> Name </span>
</div>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Picture</th>
        <th>Add to user</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${products.empty}">
        <td colspan="2"> No Products Available</td>
    </tr>
    <tr th:each="product : ${products}">
        <td><span th:text="${product.id}"> Id </span></td>
        <td><span th:text="${product.name}"> Name </span></td>
        <td><span th:text="${product.price}"> Price </span></td>
        <td><img th:src="${product.url}" style="width: 100px"></td>
        <td>
            <form action="/cart/save" method="post">
                <input name="productId" th:value="${product.id}" style="display: none">
                <button type="submit">Добавить в корзину</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/users"><button>Корзина</button></a>
</div>
<div>
    <a href="http://localhost:8080/logout"><i class="" aria-hidden="true"></i>Выход</a>
    <div>

</body>
</html>

