<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Логин</th>
        <th>Корзина</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${users.empty}">
        <td colspan="2">Нет доступных пользователей</td>
    </tr>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.id}"> Id </span></td>
        <td><span th:text="${user.name}"> Name </span></td>
        <td><span th:text="${user.login}"> Login </span></td>
        <td>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Picture</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${user.cart.empty}">
                    <td colspan="2">Нет доступных товаров</td>
                </tr>
                <tr th:each="product : ${user.cart}">
                    <td><span th:text="${product.id}"> Id </span></td>
                    <td><span th:text="${product.name}"> Name </span></td>
                    <td><span th:text="${product.price}"> Price </span></td>
                    <td><img th:src="${product.url}" style="width: 100px"></td>
                </tr>
                </tbody>
            </table>

        </td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/products"><button>Выбор товара</button></a>
</div>
<div>
<a href="http://localhost:8080/logout"><i class="" aria-hidden="true"></i>Выход</a>
    <div>
</body>
</html>

